* {
    margin: 0;
    padding: 0;
}

#banner {
    width: 100%;
    background: gray;
    text-align: center;
}

#dataList {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}

#dataList li {
    list-style: none;
    margin: 0 8px;
}

#data {
    width: 200px;
}