@import url('https://fonts.googleapis.com/css?family=Lemonada&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');


*{
    margin: 0;
    padding: 0;
}

/*Variables*/
:root{
--bannerBackground:rgba(178,255,255,0.7);
--bannerShadowColor:blue;
--bannerBorderColor:black;
}



#banner {
    width: 97%;
    background: url("https://i.ytimg.com/vi/8Fxl2p3AWj0/maxresdefault.jpg");
    text-align: center;
    padding: 10px;
    margin: 5px 5px 20px 3px;
    border: 2px solid var(--bannerBorderColor);
    box-shadow: 1px 2px 3px var(--bannerShadowColor);
    font-family: 'Lemonada', cursive;
}

.Title{
    color:white;
    text-shadow: 1px 1px 2px black,-1px -1px 2px black;
}

#data{
    outline: none;
    background: rgba(255,255,255,0.5);
    border: none;
    padding: 12px;
    border: 1px solid var(--bannerBorderColor);
    width: 200px;
}

#data::placeholder, .bton{
    font-family: 'Roboto Condensed', monospace;
    font-size: 15px;
}

#dataCompletaBtn{
    width: 200px;
}

.bton{
        background: #007E8B;
        color:white;
        font-size: 15px;
        width: 120px;
        height: 40px;
        cursor: pointer;
        border: 1px solid black;
        overflow:hidden;
        position:relative;
}

#dataCompletaBtn{
    width:200px;
}

.bton:after {
    background: white;
    content: "";
    height: 155px;
    left: -75%;
    opacity: .25;
    position: absolute;
    top: -80%;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
  }

.bton:hover:after{
    left:120%;
}

#dataList {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}

#dataList li {
    list-style: none;
    margin: 0 8px;
}

#reporteVariables{
    background: #C2CDFF;
    margin-left:10px;
    padding: 10px;
    width: 240px;
    left: 70px;
}

#tablaDeFrecuencias{
    border-collapse : separate;
    width: 100%;
}
tr:nth-child(even) {
    background: #DEDDDD;
}
